<nav>
    <h1 style="color: #ff7f00; font-size: 3rem; font-weight: bold;">Best of Hokkien Mee Map</h1>
    
    <ul>
      <li><a href="/about">ℹ About</a></li>
      <li><a href="/weather">⛅ Weather</a></li>
    
    </ul>
</nav>