<nav>
    <h1 class="text-2xl font-bold text-foodOrange"><strong>Best of Hokkien Mee Map</strong></li></h1>
    </ul>
    <ul>
      <li><a href="/about">ℹ About</a></li>
      <li><a href="/weather">⛅ Weather</a></li>
    
    </ul>
</nav>