<nav>

  <p>
  <div class="filters">
    <a href="filter?tag=wet">Wet</a>
    <a href="filter?tag=dry">Dry</a>
    <a href="filter?tag=sambal">Sambal</a>
    <a href="filter?tag=cut chilli">Cut Chilli</a>
    <a href="filter?tag=wok hei">Wok Hei</a>
    <a href="filter?tag=lard">Pork Lard</a>
    <a href="yourpicks">Top Picks by Fans</a>
  </div>
  <div class="about-link">
    <a href="/">← Back to All Hokkien Mee Map</a>
    <a href="/about">ℹ About</a>
      
  </div>
  </p>


</nav>