<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/style.css" >
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-55G6CL815X"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-55G6CL815X');
</script>
</head>
<body>
    <main class="container">
        <!-- Navbar which can be reused across other pages -->
        <%- include('../partials/navbar'); %>

        <!-- Information about the about page -->
        <div class="welcome-container">
            <h1>About</h1>
           </div>

        <div class="about-container">
            <img src="/images/about.jpeg" alt="Favourite Hokkien Mee">
            <p>Welcome to my web app where you can find a curation of the best Hokkien Mee you can possibly find in Singapore. Launched in 2025, this web app aims to help the community of Hokkien Mee lovers who are looking for inspiration for your the next Hokkien Mee hunt. Join me on this journey of exploration and vote for your favourite Hokkien Mee to help others shortlist theirs too!</p>
            <br>
            <a href="/">Find your favourite Hokkien Mee!</a>
        </div>

    </main>
    <footer class="disclaimer-footer">
  <p>
    <strong>Disclaimer:</strong><br>
    This website is created for learning purposes only. The information provided here should not be considered professional advice. Please note that we make no guarantees regarding the accuracy, completeness, or reliability of the contents of this website. Any actions you take based on the contents of this website are at your own risk. We are not liable for any losses or damages incurred from the use of this website.
  </p>
</footer>
</body>
</html>